{% include 'recipes/partials/head.html' %}  

{% comment %} To run a command in djnago you use "{% command %}" {% endcomment %}
{% comment %} The "include" is used to include something inside the file, in this case the "head.html" {% endcomment %}

<body>
    <header class="main-header-container">
        <div class="main-header container">
            <h1>
                <a class="main-logo" href="/">
                    <i class="fa-solid fa-utensils main-logo-icon"></i>
                    <span class="main-logo-text" >Recipes</span>
                </a>
            </h1>
        </div>
    </header>
</body>

</html>