{% include 'recipes/partials/head.html' %}  

{% comment %} To run a command in djnago you use "{% command %}" {% endcomment %}
{% comment %} The "include" is used to include something inside the file, in this case the "head.html" {% endcomment %}

<body>
    {% include 'recipes/partials/header.html' %}
    {% include 'recipes/partials/search.html' %}
    
    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'recipes/partials/recipe.html' %}
        </div>
    </main>
</body>

</html>